@import url('basic.css');
@import url('font.css');


body{   font-family:"GmarketSans"; font-size:1em; word-break:keep-all;   }
body *{ box-sizing:border-box;  }

#wrap{  min-width:320px;    }


/* HEADER */
#header{    width:100%; position:absolute; left:0; top:0; z-index:999999;  }
#header h1{ position:absolute; left:20px; top:20px; }
#header h1 a{   display:block;  }
#header .menu{  
    width:36px; height:36px; display:block; position:absolute; right:20px; top:20px; text-indent:-9999px;
    background-image:url(../img/ico-menu-white.svg); background-repeat:no-repeat; background-position:center center; background-size:100%;
}

.big-title{ font-size:2.375em; font-weight:normal; font-family:"Cafe24Oneprettynight"; line-height:140%;  }
.big-title strong{  box-shadow:inset 0 -10px 0px rgba(253,229,158,1);    }
.big-text{  font-size:2em; font-weight:normal; color:#000000; line-height:120%;  }
.big-text strong,
.big-text b{    font-weight:500; }
.title-circle{  
    height:22px; line-height:22px; font-size:12px; font-weight:500; color:#ffffff; display:inline-block; background-color:#2281c4; border-radius:30px; letter-spacing:0;
    padding:0 10px; margin-bottom:10px;
}


/* VISUAL */
#visual{    
    height:100vh; background-image:url(../img/main-visual.jpg); background-repeat:no-repeat; background-position:center top; background-size:center/cover; position:relative; overflow:hidden;
     background-attachment: fixed; z-index:999;
}
#visual .inner{    position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); text-align:center; z-index:1;  }
#visual .typing{ min-height:130px; font-size:2.75em; font-weight:500; color:#ffffff; line-height:140%; margin-bottom:20px; position:relative;    }
#visual .typing.line::after{
    content:""; width:100%; height:1px; display:block; position:absolute; left:0; bottom:0; background-color:#ffffff; animation:visualText 4s linear; opacity:0.5;
}
@keyframes visualText {
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}
#visual h2{ font-size:1.5em; font-weight:normal; color:#ffffff; }
#visual{
    -webkit-animation:blink 1s ease-in-out alternate;
    -moz-animation:blink 1s ease-in-out alternate;
    animation:blink 1s ease-in-out alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.constelacao{   position:absolute; left:0; top:0; width:100%; height:100%; animation:rotate 400s infinite linear;   }
.estrela{   background-color:#feffca; border-radius:50%; position:absolute; 
    animation-name:estrela; animation-timing-function:linear; animation-iteration-count:infinite;
}
.estrela.style1{    animation-duration:0.5s; animation-name:estrela;    }
.estrela.style2{    animation-duration:1s; animation-name:estrela;  }
.estrela.style3{    animation-duration:1.5s; animation-name:estrela;    }
.estrela.style4{    animation-duration:2s; animation-name:estrela;  }
.estrela.tam1{  width:1px; height:1px;  }
.estrela.tam2{  width:2px; height:2px;  }
.estrela.tam3{  width:3px; height:3px;  }
.estrela.opacity1{  opacity:1;  }
.estrela.opacity2{  opacity:0.5;    }
.estrela.opacity3{  opacity:0.1;    }

@keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
}

@keyframes estrela {
    0% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
    }
    50% {
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
    }
    100% {
      box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
    }
}

.scroll-down #scroll{   width:40px; height:74px; position:absolute; left:50%; bottom:30px; transform:translate(-50%, 0); animation:scroll 10s ease; }
.scroll-down #scroll::before{
    content:""; width:40px; height:54px; display:block; position:absolute; left:0; top:0;
    background-image:url(../img/ico-mouse-white.svg); background-repeat:no-repeat; background-position:center center; background-size:cover;
}
.scroll-down #scroll::after{
    content:""; width:12px; height:20px; display:block; position:absolute; left:50%; bottom:0; transform:translate(-50%, 0) rotate(90deg); animation:scollDown 1.2s ease-out infinite;
    background-image:url(../img/arrow-basic-white.svg); background-repeat:no-repeat; background-position:center center; background-size:cover;
}

@keyframes scroll{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes scollDown{
    0%{ 
        bottom:0;
    }
    0%{ 
        bottom:-10px
    }
}

/* ABOUT */
#about .inner{  width:1400px; margin:0 auto; position:relative; padding:160px 0; }
#about .about__profile{ position:absolute; left:0; top:160px;  }
#about .about__profile.fixed{   position:fixed; left:12%; top:100px; z-index:-1;  }
#about .about__profile dl{  margin-top:30px;    }
#about .about__profile dl::before,
#about .about__profile dl::after{   content:""; display:table;  }
#about .about__profile dl::after{   clear:both; }
#about .about__profile dl dt{   width:100px; font-size:1.125em; font-weight:500; color:#000000; float:left; display:block; margin-bottom:15px; padding-left:12px;  }
#about .about__profile dl dd{   width:calc(100% - 100px); font-size:1.125em; font-weight:normal; color:#6d6e71; float:left; display:block; margin-bottom:15px;   }
.about__intro{   padding-left:520px; }
.about__intro .title-circle{ margin-top:60px;    }
#about .basic-text{   font-size:1.125em; line-height:160%;  }
#about .basic-text strong{  font-weight:500;    }
.about__intro .spec{ margin-top:20px;    }
.about__intro .spec ul::before,
.about__intro .spec ul::after{   content:""; display:table;  }
.about__intro .spec ul::after{   clear:both;    }
.about__intro .spec ul > li{ width:22%; float:left; display:block; margin:20px 0 20px 4%;  }
.about__intro .spec ul > li:nth-child(4n+1){ margin-left:0;  }
.about__intro .spec ul > li p{   height:20px; font-size:0.875em; font-weight:500; color:#000000; padding-left:30px; position:relative; margin-bottom:10px; line-height:20px; }
.about__intro .spec ul > li p::before{
    content:""; width:20px; height:20px; display:block; position:absolute; left:0; top:0;
    background-repeat:no-repeat; background-position:center center; background-size:100%;
}
.about__intro .spec ul > li.html p::before{  background-image:url(../img/ico-html.png);  }
.about__intro .spec ul > li.css p::before{  background-image:url(../img/ico-css.png);  }
.about__intro .spec ul > li.sass p::before{  background-image:url(../img/ico-sass.png);  }
.about__intro .spec ul > li.responsiveweb p::before{  background-image:url(../img/ico-responsive.png);  }
.about__intro .spec ul > li.javascript p::before{  background-image:url(../img/ico-js.png);  }
.about__intro .spec ul > li.jquery p::before{  background-image:url(../img/ico-jquery.png);  }
.about__intro .spec ul > li.photoshop p::before{  background-image:url(../img/ico-photoshop.png);  }
.about__intro .spec ul > li.illustrator p::before{  background-image:url(../img/ico-illustrator.png);  }
.about__intro .spec .progress{   height:20px; line-height:20px; border-radius:20px; background-color:#e6e7e8;    }
.about__intro .spec .progress span{ 
    display:block; height:100%; border-radius:20px;
    background: rgb(185,139,243); background: linear-gradient(90deg, rgba(185,139,243,1) 0%, rgba(34,129,196,1) 100%);
}
.about__intro .spec ul > li.html .progress span{  width:90%;  }
.about__intro .spec ul > li.css .progress span{  width:90%;  }
.about__intro .spec ul > li.sass .progress span{  width:70%;  }
.about__intro .spec ul > li.responsiveweb .progress span{  width:90%;  }
.about__intro .spec ul > li.javascript .progress span{  width:60%;  }
.about__intro .spec ul > li.jquery .progress span{  width:85%;  }
.about__intro .spec ul > li.photoshop .progress span{  width:90%;  }
.about__intro .spec ul > li.illustrator .progress span{  width:90%;  }


/* SKILL */
#skill{ display:flex;   }
#skill::before,
#skill::after{  content:""; display:table;  }
#skill::after{  clear:both; }
#skill .fp-tableCell{   display:flex; width:100%;  }
.skill__title{  width:40%; float:left; display:block; background-color:#3791d0; position:relative; }
.skill__title .big-title{   
    color:#ffffff; position:absolute; left:30%; top:50%; transform:translate(0, -50%); padding-right:30px;
}
.skill__title .big-title svg{   display:block; }
.skill__content{    width:60%; float:right; display:block; background-color:#2281c4; position:relative; padding:160px 300px 160px 100px;    }
.skill__content ul li{  margin-top:50px;    }
.skill__content ul li:first-child{  margin-top:0;   }
.skill__content ul li h3{   font-size:1.25em; font-weight:500; color:#ffffff; padding-left:30px; position:relative; margin-bottom:10px; }
.skill__content ul li h3::before{
    content:""; width:18px; height:18px; display:block; position:absolute; left:0; top:50%; transform:translate(0, -50%);   
    background-image:url(../img/ico-check-white.svg); background-repeat:no-repeat; background-position:center center; background-size:100%;
}
.skill__content ul li p{    font-size:1.125em; font-weight:300; color:#ffffff; padding-left:30px;  }
.skill__title svg{ animation:skill 1s linear infinite; position:relative; top:0; transition:all 0.4s ease;   }
.skill__title svg path{ animation:skill-color 1s linear infinite; fill:#ffffff;  }

@keyframes skill{
    0%{    top:0;   }
    50%{  top:-6px;   }
    100%{  top:0;   }
}

@keyframes skill-color{
    0%{ fill:#ffffff;   }
    50%{ fill:#fde59e;   }
    100%{   fill:#ffffff;   }
}

/* PORTFOLIO */
#portfolio{ padding:160px 0; background:url(../img/portfolio-bg.jpg) repeat; text-align:center; height:auto !important;   }
.portfolio__slide{  margin-top:30px;    }
.portfolio__slide .slick-track{  padding:40px 0; }
.portfolio__card{   
    background-color:#ffffff; border-radius:20px; box-shadow:1px 1px 20px rgba(0,0,0,0.05), -1px -1px 20px rgba(0,0,0,0.05); padding:60px; opacity:0.5;
    margin:0 30px;
}
.portfolio__card img{   width:100%; }
.portfolio__card.slick-active{  opacity:1;  }
.portfolio__card .category{ font-size:1.125em; font-weight:normal; color:#000000; margin-top:40px;  }
.portfolio__card .portfolio__name{  font-size:1.375em; font-weight:500; color:#000000;  }
.portfolio__card .btn{  text-align:center; margin-top:30px;  }
.portfolio__card .btn a{    
    height:48px; line-height:48px; display:inline-block; font-size:1.125em; font-weight:500; color:#ffffff; background-color:#9b74cd; padding:0 30px; border-radius:50px;
    border:1px solid #9b74cd;
}
.portfolio__card .btn a:first-child{    background-color:#ffffff; color:#9b74cd;   }
.portfolio__card .tag{  margin-top:40px;    }
.portfolio__card .tag span{ display:inline-block; color:#58595b; font-size:1em; font-weight:normal; margin:4px; border-bottom:1px solid #9e9e9e;  }
.portfolio__card .tag span::before{ content:"#";    }


/* NEED */
#need{  border-top:1px solid #e6e7e8;   }
#need .inner{   width:1400px; margin:0 auto; position:relative; padding:260px 0; display:flex;    }
.need__title{   width:50%; float:left; display:block; position:relative;     }
.need__title > div{ position:absolute; left:0; top:50%; transform:translate(0, -50%);   }
.need__title .big-text{ font-size:2.375em; margin-bottom:60px;  }
.need__title .big-title{    font-size:2em;  }
.need__title .big-title strong{ font-weight:normal; }
.need__content{ float:right;    }
.need__content ul li{   display:block; line-height:60px; padding:0 50px; position:relative; margin-bottom:10px; z-index:1;  }
.need__content ul li h3{    font-size:1.125em; font-weight:normal; color:#000000; z-index:2; position:relative;   }
.need__content ul li::before{
    content:""; width:16px; height:16px; display:block; position:absolute; left:20px; top:50%; transform:translate(0, -50%); z-index:2;
    background-image:url(../img/ico-check-gray.svg); background-repeat:no-repeat; background-position:center center; background-size:100%;
}
.need__content ul li::after{    
    content:""; width:100%; height:100%; display:block; position:absolute; left:0; top:0; border-radius:40px 0 40px 0; z-index:1; opacity:0;
    background: rgb(185,139,243); background: linear-gradient(90deg, rgba(185,139,243,1) 0%, rgba(34,129,196,1) 100%); transition:all 0.4s ease; 
}
.need__content ul li.active h3{ font-weight:500; color:#ffffff; }
.need__content ul li.active::before{    background-image:url(../img/ico-check-white.svg);   }
.need__content ul li.active::after{
    opacity:1; transition:all 0.4s ease; animation:needList 1s ease;
}
.need__title svg path#heart{    animation:heart 2s linear infinite; transition:all 0.4s ease;   }
.need__content ul li:hover h3{ font-weight:500; cursor:context-menu;  }

@keyframes heart {
    0%{ fill:#e83f3f;   }
    50%{ fill:#000000;   }
    100%{ fill:#e83f3f;   }
}

@keyframes needList {
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}



/* CONTACT */
#contact{   background-color:#332a3f;   }
#contact .inner{    width:1400px; margin:0 auto; position:relative; padding:40px 0; text-align:center; }
#contact .big-title{    color:#ffffff; margin-bottom:10px;  }
#contact .mail{ 
    display:inline-block; font-size:1.5em; font-weight:normal; color:#ffffff; padding-left:44px; letter-spacing:0;
    background-image:url(../img/ico-mail-white.svg); background-repeat:no-repeat; background-position:left center; background-size:34px;
}
#contact .copy{ font-size:14px; font-weight:normal; color:#a8a2a2; position:absolute; right:0; bottom:40px; letter-spacing:0;    }



/* SECTION */
.section{   height:auto !important; }
.section .fp-tableCell{ height:auto !important; }
.section#visual{    height:100vh !important;    }
#section-menu{  position:fixed; right:0; top:50%; transform:translate(0, -50%); z-index:99999;  }
#section-menu > ul > li{    position:relative;  text-indent:-9999px; }
#section-menu > ul > li > a{    display:block; font-size:12px; font-weight:normal; color:#175e90;  padding:5px 30px 5px 0;  }
#section-menu > ul > li > a::after{ 
    content:""; width:20px; height:1px; display:block; background-color:#a7a9ac;
    position:absolute; right:0; top:50%;
}
#section-menu > ul > li.active{ text-indent:0; text-align:right; transition:all 0.4s ease; }
#section-menu > ul > li.active > a{ padding-right:50px; transition:all 0.4s ease;    }
#section-menu > ul > li.active > a::after{  background-color:#175e90; width:40px; transition:all 0.4s ease; }
