@media screen and (max-width:1800px){
    #about .about__profile.fixed{   left:6%;    }
}

@media screen and (max-width:1500px){
    body{   font-size:0.9em;    }

    .slick-prev,
    .slick-next{    background-color:#ffffff; width:50px; height:80px; box-shadow:1px 1px 10px rgba(0,0,0,0.05), -1px -1px 10px rgba(0,0,0,0.05);  }
    .slick-prev{    left:0; border-radius:0 20px 20px 0;  }
    .slick-next{    right:0; border-radius:20px 0 0 20px; }
    .slick-prev::before,
    .slick-next::before{ opacity:1; width:60%; background-size:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);  }
    .slick-prev::before{    transform:translate(-50%, -50%) rotate(-180deg);    }
    .slick-prev:hover, 
    .slick-prev:focus, 
    .slick-next:hover, 
    .slick-next:focus{  background-color:#ffffff;   }

    #about .inner{  width:100%; padding:100px 60px; }
    #about .about__profile{ width:320px;    }
    #about .about__profile img{ width:100%; }
    .about__intro{  padding-left:420px; }

    .big-title{ font-size:2.2em;  }

    .skill__title .big-title{   left:20%;   }
    .skill__content{    padding:100px 80px;  }

    #need .inner{   width:100%; padding:100px 60px; }
    

    #contact .inner{    width:100%; padding:40px 60px;  }

    #contact .copy{ position:relative; right:auto; bottom:auto; display:block; margin-top:40px;  }
    
}

@media screen and (max-width:1200px){
    body{   font-size:0.8em;    }
    #visual .typing{    min-height:100px;   }

    #about .about__profile.fixed{   width:280px; left:4%;   }
    .about__intro{  padding-left:340px; }
    .about__intro .title-circle{    margin-top:40px;    }

    .about__intro .spec ul > li{    width:31%; margin:10px 0 10px 3.5%;  }
    .about__intro .spec ul > li:nth-child(4n+1){    margin-left:3.5%;   }
    .about__intro .spec ul > li:nth-child(3n+1){    margin-left:0; }
    .about__intro .spec .progress{  height:15px; line-height:15px;    }

    .skill__content{    padding:80px 60px;  }
    .skill__content ul li{  margin-top:30px;    }
    .skill__content ul li h3{   margin-bottom:6px;  }

    #portfolio{ padding:100px 0;    }
    .portfolio__slide{  margin-top:0;   }
    .portfolio__card{   padding:40px;   }

    .need__title{   width:40%;  }
    .need__content{ width:60%;  }

    #section-menu{  display:none;   }

}

@media screen and (max-width:960px){
    #visual .inner{ width:70%;  }
    #visual .typing{    font-size:2.5em;    }

    #about .inner{  padding:80px 40px;  }
    #about .about__profile.fixed{   width:240px;    }
    #about .about__profile dl dt{    margin-bottom:10px;   }
    #about .about__profile dl dd{   margin-bottom:10px;  }
    .about__intro{  padding-left:280px; }
    .about__intro .spec ul > li p{  padding-left:26px;  }

    .big-title{ font-size:2em;  }
    .big-text{  font-size:1.8em;    }

    #skill{ display:block;  }
    #skill .fp-tableCell{   display:block;  }
    .skill__title{  width:100%; float:none; padding:30px 60px; }
    .skill__title .big-title{   position:relative; left:auto; top:auto; transform:none; }
    .skill__content{    width:100%; float:none; padding:40px 60px; }

    #portfolio{ padding:80px 0; }
    .portfolio__card{   padding:20px;   }
    .portfolio__card .category{ margin-top:20px;    }
    .portfolio__card .btn{  margin-top:20px;    }
    .portfolio__card .btn a{    height:40px; line-height:40px;  }
    .portfolio__card .tag{  margin-top:20px;    }

    #need .inner{  display:block; padding:80px 40px;  }
    .need__title{   width:100%; float:none; margin-bottom:40px; }
    .need__title > div{ position:relative; left:auto; top:auto; transform:none; }
    .need__title .big-text{ margin-bottom:10px; }
    .need__title .big-text br{  display:none;   }
    .need__content{ width:100%; float:none; background-color:#f8f8f8; border-radius:20px; padding:15px; }
    .need__content ul li{   line-height:46px;   }
    .need__content ul li::after{    border-radius:50px;  }
    .need__content ul li h3{    font-size:1.25em;    }    

}

@media screen and (max-width:768px){
    body{   font-size:0.75em;    }

    #about .inner{  padding:60px 40px;  }
    .about__profile::before,
    .about__profile::after{ content:""; display:table;  }
    .about__profile::after{ clear:both; }
    #about .about__profile{ width:100%; position:relative; left:auto; top:auto; }
    #about .about__profile.fixed{   width:100%; position:relative; left:auto; top:auto; overflow:hidden; }
    #about .about__profile img{ width:40%; float:left; display:block;   }
    #about .about__profile dl{  width:60%; display:block; margin:0; padding-left:20px; position:absolute; left:40%; bottom:0;   }
    #about .about__profile dl dt{   width:80px; }
    #about .about__profile dl dd{   line-height:20px;   }
    .about__intro{  padding:0; margin-top:40px; }

    .skill__title{  padding:20px 40px; text-align:center; }
    .skill__title .big-title svg{   display:inline-block;   }
    .skill__title .big-title span{  display:block;  }
    .skill__content{    padding:30px 40px;  }

    #portfolio{ padding:60px 0; }

    #need .inner{   padding:80px 40px;  }
    .need__title{   margin-bottom:30px; }
    .need__title > div{ text-align:center;  }
    .need__title .big-text{ font-size:2em;  }
    .need__content ul li{    padding:0 30px 0 50px;   }    
    .need__content ul li h3{    font-size:1em;    }  

    #contact .copy{ font-size:12px; }
      
}


@media screen and (max-width:620px){
    .slick-prev,
    .slick-next{    width:40px; height:60px;    }

    #visual .typing{    font-size:2.2em; min-height:100px;    }

    #about .inner{  padding:40px 30px;  }
    .about__intro .title-circle{    margin-top:30px;    }
    #about .big-text br{    display:none;   }

    .skill__title{  padding:10px 30px;  }
    .skill__title .big-title span{  margin-top:-10px;   }
    .skill__title .big-title svg{   width:48px; }
    .skill__content{    padding:30px;   }
    .skill__content ul li h3{   padding-left:20px;  }
    .skill__content ul li h3::before{   width:14px; height:14px;    }
    .skill__content ul li p{    padding-left:20px;  }

    #portfolio{ padding:40px 0; }
    .portfolio__slide .slick-track{ padding:20px 0; }

    #need .inner{   padding:60px 30px;  }
    
    .need__title{   margin-bottom:20px; }
    .need__title > div svg{ width:48px; }
    .need__title .big-text{ margin-bottom:0;    }
    .need__content{ padding:10px;   }
    .need__content ul li{   padding:0 20px 0 30px; line-height:42px; }
    .need__content ul li::before{   width:14px; height:14px; left:10px; }

    #contact .copy{ margin-top:30px;    }

}

@media screen and (max-width:480px){
    body{   font-size:0.7em;    }

    .slick-dots li{ width:10px; height:10px;    }
    .slick-dots li button{  width:10px; height:10px;    }

    #visual .inner{ width:90%;  }
    #visual .typing{    font-size:2em; min-height:80px; }
    #visual h2{ font-size:1.3em;    }

    #about .inner{  padding:40px 20px;  }
    #about .about__profile.fixed{   margin-top:-80px; z-index:999;  }
    #about .about__profile img{ width:60%; float:none;  }
    #about .about__profile dl{  width:100%; position:relative; left:auto; bottom:auto; padding:0; margin-top:20px; }
    #about .about__profile dl dt{   font-size:1.5em; height:24px;    }
    #about .about__profile dl dd{   font-size:1.5em; height:24px;    }
    .about__intro{  margin-top:20px; border-top:1px dashed #d1d2d4; padding-top:20px;   }
    .about__intro .title-circle{    margin-top:20px; margin-bottom:8px;    }
    .about__intro .spec{    margin-top:10px;    }
    .about__intro .spec ul > li{    width:48%; margin-left:4%;  }
    .about__intro .spec ul > li:nth-child(3n+1){    margin-left:4%; }
    .about__intro .spec ul > li:nth-child(2n+1){   margin-left:0;  }
    .about__intro .spec .progress{  height:12px; line-height:12px;  }
    .about__intro .spec ul > li p{  padding-left:22px;  }
    .about__intro .spec ul > li p::before{  width:16px; height:16px;    }
    
    .big-title{ font-size:1.8em;    }
    .big-text{  font-size:1.7em; line-height:140%;    }
    .title-circle{  font-size:11px; }

    .skill__title{  padding:20px;   }
    .skill__content{    padding:30px 20px;  }

    .portfolio__card .btn a{    width:100%; display:block; margin:6px 0;  }
    .portfolio__card .tag span{ margin:2px; }

    #need .inner{   padding:30px 20px;  }
    .need__title .big-text{ font-size:1.8em;    }
    .need__title .big-title{    font-size:1.8em;   }
    .need__content ul li{   line-height:140%; padding:10px 20px 10px 30px; margin:0;    }
    .need__content ul li::before{   top:10px; transform:none;  }
    .need__content ul li::after{    border-radius:10px; }
    .need__content ul li h3{    font-size:1.2em;    }

    #contact .mail{ font-size:1.3em; background-size:28px; padding-left:36px;    }
    #contact .copy{ margin-top:20px;    }
}

@media screen and (max-width:360px){
    #visual .typing{    font-size:1.8em; min-height:70px;    }
    #visual h2{ font-size:1.1em;    }
    
    #about .about__profile dl dt{   width:70px; font-size:1.2em;    }
    #about .about__profile dl dd{   font-size:1.3em;    }

    .big-title{ font-size:1.6em;    }
    .big-text{  font-size:1.5em;    }

    .slick-prev, .slick-next{   width:30px; height:40px;    }

    .portfolio__card .btn a{    height:36px; line-height:36px; }
}